.main {
  display: flex; /* Habilita flexbox */
  flex-direction: column; /* Alinea los hijos verticalmente */
  justify-content: center; /* Centra los hijos verticalmente */
  align-items: center; /* Centra los hijos horizontalmente */
  height: 100vh; /* Asegura que el contenedor principal tenga la altura de la ventana */
  padding: 4rem;
  background-color: #f0f0f0; /* Fondo claro para el área principal */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
  border-radius: 10px; /* Bordes redondeados */
  max-width: 600px; /* Limita el ancho máximo para grandes pantallas */
  margin: auto; /* Centra el contenedor principal */
}

.calculadora {
  padding: 15px;
  background-color: white; /* Fondo blanco para la sección de la calculadora */
  border-radius: 5px; /* Bordes ligeramente redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Sombra más suave */
}

.inputnum, .button {
  width: 100%;
  padding: 10px 15px; /* Aumenta el padding para mejor accesibilidad */
  margin-bottom: 10px; /* Espacio entre elementos */
  border: 1px solid #ccc; /* Borde sutil */
  border-radius: 5px; /* Bordes redondeados */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho final */
}

.button {
  background-color: #007bff; /* Color de fondo para los botones */
  color: white; /* Texto blanco para contraste */
  font-size: 1.1em;
  border: none; /* Elimina el borde */
  cursor: pointer; /* Cursor de mano al pasar sobre el botón */
  transition: background-color 0.3s; /* Transición suave al cambiar de color */
}

.button:hover {
  background-color: #0056b3; /* Oscurece el botón al pasar el mouse */
}

.resultado {
  margin-top: 10px;
  font-weight: bold;
  color: #007bff; /* Color que coincide con los botones para consistencia */
  padding: 10px;
  border-radius: 5px; /* Bordes redondeados */
  background-color: #f8f9fa; /* Fondo sutil para destacar el resultado */
}

